.header {
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    display: block;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    display: block;
}



.header__navbar-item, .header__navbar-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    min-height: 20px;
}

.header__navbar-item, 
.header__navbar-link,
.icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-link{
    
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover, 
.header__navbar-link:hover,
.header__navbar-link:hover .icon 
 {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--bold{
    font-weight: 500;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #fb9086;
    height: 20px;
    top: 0;
    right: -10px;
}

.no-poiter{
    cursor: text;
    color: var(--white-color);
}

.icon{
    margin: 0 4px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
}